.admin-table-wrapper {
  overflow-x: auto;
}

.admin-table {

  td {
    word-break: break-word;
    vertical-align: middle;
  }

  input[type=checkbox] {
    transform: scale(2);
    cursor: pointer;
  }

  &.table-hovered {
    tbody {
      tr:hover {
        background-color: #e4e4e4;

        td {
          background-color: #e4e4e4;
        }
      }
    }
  }

  &-row-cell-narrow {
    max-width: 120px;
    white-space: normal;
    word-break: normal !important;
  }
}

.admin-table-actions {
  border-left: 1px solid #dbdbdb !important;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  > * {
    width: 3rem;

    img {
      width: 100%;
    }
  }
}

.admin-table-selector {
  width: 6rem;
}
