body, button, input, optgroup, select, textarea {
  font-family: var(--main-font-family);
}

.no-select {
  user-select: none;
}

.no-break {
  word-break: normal;
  white-space: nowrap;
}

.button.is-success {
  background-color: #276b37;

  &:hover,
  &:active,
  &:focus {
    background-color: #39994f;
  }
}

.air-datepicker-global-container {
  z-index: 2000;
}

.panel-block {
  flex-direction: column;
  align-items: normal;
  padding-bottom: 1rem;
}

.form-commuse-blocks {
  width: 100%;
  max-width: 45%;
  min-width: unset;

  @media all and (max-width: 1600px) {
    max-width: 60%;
  }

  @media all and (max-width: 1300px) {
    max-width: 70%;
  }

  @media all and (max-width: 900px) {
    max-width: 100%;
  }

  label {
    user-select: none;
  }

  input[type=checkbox] {
    transform: scale(2);
    cursor: pointer;
  }
}

.button.is-success {
  background-color: var(--blue-stronger-color);

  &:hover,
  &:active,
  &:focus {
    background-color: var(--blue-stronger-color) !important;
  }
}

.button.is-info {
  background-color: var(--grey-color);

  &:hover,
  &:active,
  &:focus {
    background-color: var(--grey-color) !important;
  }
}

.tag:not(body) {
  white-space: normal;
  height: auto;
  padding: 0.3rem 0.6rem;
}

form {
  .label {
    display: inline-flex;
  }
}
