.top-nav {
  border-bottom: 5px solid var(--main-color);
  display: flex;
  padding: 1rem 32px;

  .top-nav-brand {
    display: flex;
    align-items: center;

    a.top-nav-name-link {
      background-color: var(--main-color);
      color: #ffffff;
      padding: 0.5rem 1rem;
      margin-right: 0.5rem;
    }
  }

  .top-nav-end {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}
