.switmenu-menu {
  position: fixed;
  padding: 1rem;
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  z-index: 7777;
  transform: translateX(-100%);
  background-color: #ffffff;

  @media all and (max-width: 1300px) {
    width: 25%;
  }

  @media all and (max-width: 900px) {
    width: 35%;
  }

  @media all and (max-width: 700px) {
    width: 80%;
  }

  &.switmenu-menu-active {
    transform: translateX(0%);
  }
}

.switmenu-body-open {
  overflow: hidden;

  .switmenu-content {
    transform: translateX(20%);

    @media all and (max-width: 1300px) {
      transform: translateX(25%);
    }
  
    @media all and (max-width: 900px) {
      transform: translateX(35%);
    }
  
    @media all and (max-width: 700px) {
      transform: translateX(80%);
    }
  }
}

.side-menu-toggler {
  padding: 0;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;

  svg .cls-1 {
    fill: none;
    stroke: var(--main-color);
    stroke-linejoin: round;
    stroke-width: 2px;
  }
}
